<div class='footer-container'>

	<p>Exercera, an Exercises Bank, AnguarJS project - All rights reserved © 2016.</p>
	<div class="menu-primary-container">
		<ul class="menunav-menu">
			<li class="menu-item"><a  target="_blank" href="https://github.com/hazemalsaied/Exercera/wiki/Project-Specification">Project Specification</a></li>
			<li class="menu-item"><a  target="_blank" href="https://goo.gl/2jjg3P">Executive Report</a></li>
			<li class="menu-item"><a  target="_blank" href="https://github.com/hazemalsaied/Exercera">On GitHub</a></li>
		</ul>
	</div>
</div>
